html {
    overflow-y: scroll;
}

#todo-list {
    margin-bottom: 30px;
}

#todo-form {
    margin-bottom: 50px;
}

.navbar-inverse {
    border-radius: 0;
}

.login-container h1 {
    margin-bottom: 2%;
}

.form-signin {
    padding: 0 30% 0 30%;
}

.form-signin input {
    margin-bottom: 2%;
}

.form-signin button {
    margin-top: 5%;
}

.avatar {
    width: 13%;
    float: right;
    margin: 1% 2% 1% 0;
}

.avatar:hover, .logout-button:hover {
    opacity: 0.8;
}

.avatar div {
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 40px;
    float: left;
}

.avatar p {
    color: white;
    text-align: center;
    padding: 6% 0 0 0;

}

.logout-button {
    background: url("../img/icons/logout.png");
    background-size: cover;
    border: none;
    float: right;
    height: 30px;
    width: 30px;
    margin: 19px 17px 0 0;
}

