<div class="jumbotron text-center login-container">
    <h1>Capacitacíon Angular </h1>
    <p>Ingrese sus credenciales</p>
    <form name="loginForm" class="form-signin" ng-submit="login();">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" ng-model="dataUser.user" class="form-control" placeholder="Usuario" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="dataUser.pass" class="form-control" placeholder="Contraseña" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>