<div>
    <div class="container">
        <div class="span3 well">
            <center>
                <a>
                    <img src="{{userData.thumbnail}}" name="aboutme" width="140" height="140" class="img-circle"></a>
                <h3>{{userData.name}} {{userData.lastName}}</h3>
                <em>{{userData.address}}</em>
            </center>
        </div>
    </div>
</div>