<!doctype html>
<!-- Assing principal angular module -->
<html ng-app="todoAngular">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <!-- Optimize mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Node/Angular Todo App</title>
    <!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- Custom Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Angular && Angular UI Router -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

    <!-- Environment  -->
    <script src="res/environment.js"></script>
    <script src="res/strings.js"></script>

    <!-- Controllers -->
    <script src="modules/todo/todoCtrl.js"></script>
    <script src="modules/login/loginCtrl.js"></script>
    <script src="modules/profile/profileCtrl.js"></script>

    <!-- Services -->
    <script src="modules/todo/todoService.js"></script>
    <script src="modules/login/loginService.js"></script>

    <!-- Custom Directives -->
    <script src="js/directives.js"></script>

    <!-- Custom Router -->
    <script src="js/router.js"></script>

    <!-- Principal Module Angular -->
    <script src="js/app.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="https://docs.angularjs.org/">Angular JS</a>
    </div>

    <button ng-if="userData.thumbnail != undefined" class="logout-button" ng-click="logOut()"></button>

    <div class="avatar" ui-sref="profile">
        <div ng-if="userData.thumbnail != undefined" back-img="{{userData.thumbnail}}">
        </div>
        <p>{{userData.name}} {{userData.lastName}}</p>
    </div>
</nav>

<!-- Container for Ui-Router -->
<div class="container">
    <div ui-view>
        <!-- Render views template -->
    </div>
</div>
</body>
</html>
